nav{
    bottom: 0;
    position: fixed;
}
nav a {
    margin-right: 20px;
}
.footer_img{
    width:100%;
    height: 100px;
}
footer{
    background-color: rgb(29, 97, 243);
    color: white;
}
footer a {
    text-decoration: none;
    color:white;
    text-decoration:underline;
}
footer ul{
    margin: 0;
}
ul{
    list-style:none;
}
.carousel img{
    margin: auto;

    width: 50%;
    height: 500px;
}